<p>class works!</p>

<p [attr.attribute-you-are-targeting] = "actionName"> actionName </p>
<button [attr.aria-lable]= "actionName" >{{actionName}} with Aria</button>
<tr><td [attr.colspan] = " 1 + 1">One-Two</td></tr>
        <div [class.sale] = "onSale">
            {{ onSale }}
        </div>
        <div [class] = "classExpresstion"></div>
    <hr>
<nav [style.background-color] = "expresstion"></nav>
<nav [style.backgroundColor] = "expresstion"></nav>

<button class="btn btn-default" [class.btn-danger]="isDanger">Kích Hoạt</button>
