<!-- <h1>view của app component</h1>
<h1>{{title}}</h1>
<h2>{{age}}</h2>
<h3>{{hasMoney}}</h3> -->
<!-- <app-font-size-editor></app-font-size-editor> -->
<!-- <app-b-property></app-b-property> -->
<!-- <app-class></app-class> -->
<!-- <app-d-event></app-d-event> -->
<!-- <app-two-component></app-two-component> -->
<!-- <app-p-custom></app-p-custom> -->
<!-- <app-m-template-variable></app-m-template-variable> -->
<!-- <app-pet></app-pet> -->
<!-- <app-g-ng-if></app-g-ng-if> -->
<!-- <app-h-ng-for></app-h-ng-for> -->
<!-- <app-i-ng-switch></app-i-ng-switch> -->
<!-- <app-j-ng-class></app-j-ng-class> -->
<!-- <app-k-ng-style></app-k-ng-style> -->
<!-- <app-m-input [item] = "'Hello'"></app-m-input> -->
<!-- <app-game-numbers></app-game-numbers> -->
<!-- <app-template-driven></app-template-driven> -->
<!-- <app-data-driven></app-data-driven> -->
<!-- <app-register></app-register> -->
<!-- <app-products></app-products> -->
<router-outlet></router-outlet>
<!-- <app-product-add></app-product-add> -->

<!-- /* App component
      - HeaderComponent
      - SidebarComponent
      - FooterComponent
*/ -->