<p>game-numbers works!</p>
<h1>Point: {{ point }}</h1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="row">
    <div class="col" *ngFor="let number of numbers; let i = index">
        <button type="button" class="btn btn-block btn-info mb-1"
        (click)="playGame(number)"
        >{{ number }}</button>
    </div>
    
</div>
